[submodule "fabric-protos"]
	path = fabric-protos
	url = ../../hyperledger/fabric-protos.git
	branch = master
[submodule "fabric-gateway"]
	path = fabric-gateway
	url = ../../hyperledger/fabric-gateway.git
	branch = master
